name: Build and Publish Binaries

#on:
#  release:
#    types:
#      - created
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        node-version: [12.x, 13.x, 14.x]
    env:
      RUST_BACKTRACE: 1
      NODE_PRE_GYP_GITHUB_TOKEN: ${{ secrets.PAT }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - run: npm install -g neon-cli node-pre-gyp@amilajack/node-pre-gyp#neon-compat node-pre-gyp-github
      - run: npm install
      - run: npm test
      - run: yarn global add node-pre-gyp-github && yarn global add node-pre-gyp@amilajack/node-pre-gyp#neon-compat && yarn upload-binary
